/* BootStrap Wrap */

h1.header-title {
    font-family: Helvetica, sans-serif;
    color: floralwhite;
}

i.glyphicon-with-section {
    margin-right: 10px;
}

.img-circle {
    max-height: 80%;
    max-width: 80%;
}

.img-max-height {
    max-height: 200px;
}

#products {
    margin-bottom: 20px;
}

.products-information {
    margin-bottom: 20px;
    background-color: lightgoldenrodyellow;
}

footer {
    color: white;
    background-color: darkblue;
}